.contact {
        height: 78vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 78);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
     
}

.disclaimer {
    text-align: center;
    font-size: .9rem;
 }

 .mail {
        border: 1px solid white;
        border-radius: 50px;
        padding: 1em 2em;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.2);   
 }