.about {
    height: 78vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 78);

    border-top: 1px solid white;

   
    display: grid; 
   grid-template-columns: 1fr 50vw; 
   grid-template-rows: 1fr 1fr 1fr 1fr 0.3fr; 
   gap: 0px 0px; 
   grid-template-areas: 
    "Image Texte"
    "Image Logo"
    "Message Logo"
    "CV Logo"
    "Bandeau Bandeau"; 
}



.Bandeau {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
     grid-area: Bandeau;
     }

.CV {
    border-right: 1px solid white;
    border-top: 1px solid white;
     grid-area: CV;
     }

.Message {
    grid-area: Message;

    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid white;
    border-top: 1px solid white;
}

.Message p {
    font-size: 3.5vw;
}

.Image {
    grid-area: Image;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid white;
}

.Image img {
    width: 66.6%;
    max-height: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;

    border-radius: 0% 25% 0px 25% ;
}

.Logo {
    grid-area: Texte;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid white;
}

.Logo svg {
    border: 1px solid white;
    border-radius: 50%;
}

.Texte {
     grid-area: Logo;
      }




@media (min-width: 850px) {
    .about {
        height: 90vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 90);
    }
}