/* Reset */

/* simplify sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* remove dot from unordered list */

ul {
  list-style: none;
}

/* remove default button styles */
button {
  background-color: transparent;
  border: none;
}

/* end of Reset */

/* fix 100vh on mobiles devices (toolbar issues) */
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

/* Global setup */
html {
  font-family: var(--font-roboto-mono);
  
}
 
h1 {
  font-family: var(--font-inter);
}