.layout {
   height: 78vh; /* Fallback for browsers that do not support Custom Properties */
   height: calc(var(--vh, 1vh) * 78);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}



.logoContainer {

}

.logoContainer svg {
   height: 150px;
   border-radius: 50%;
   border: 2px solid white;
}

.title {
   
   text-align: start;
   padding: 1rem;
   font-size: 1.4rem;
}

.cv {
   border: 1px solid white;
   border-radius: 20px;
   padding: .5em 1em;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);   
}

.disclaimer {
   text-align: center;
   font-size: .9rem;
}

@media (min-width: 850px) {
   .layout {
       height: 90vh; /* Fallback for browsers that do not support Custom Properties */
       height: calc(var(--vh, 1vh) * 90);
   }

   .logoContainer svg {
      height: 300px;
   }
   .title{
      font-size: 3rem;
   }
   .cv {
      font-size: 1.3rem;
      border-radius: 50px;
      padding: 1em 2em;
   }
   .disclaimer{
      font-size: 1.2rem;
   }
}