.main {
    position: relative;
    height: 100%;
    transition: border 1s;
} 

.title {
    position: fixed;
    padding: 1rem;
    font-size: 3rem;
}

.gallery {
    overflow-x: scroll;
    scroll-behavior:smooth;
    scroll-snap-type: x mandatory;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50%;
    perspective: 15000px;
    transition: 500ms;

}

.gallery::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}

@keyframes slide {
    from{
        translate: -200%;
    } to {
        translate: 200%;
    }
}

.arrowContainer {
    width: 100%;
    display: none;
    justify-content: space-between;
}

.arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

@media (min-width: 850px) {

    .arrowContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 15%;
        border-top: 1px solid white;
    }

    .main {
        height: 90vh;
        height: calc(var(--vh, 1vh) * 90);
        border-bottom: none;
    }

    .gallery{
        height: 100%;
    }

}





