.main{
    
    position: relative;

    height: 100%;

    transition: border 1s;

} 

.title {
    position: fixed;
    padding: 1rem;
    font-size: 3rem;
}

.gallery {

    /* Slider */
    overflow-x: scroll;
    scroll-behavior:smooth;
    scroll-snap-type: x mandatory;

    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 150px;


    perspective: 800px;

}

.gallery::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
}


@keyframes slide {
    from{
        translate: -200%;
    } to {
        translate: 200%;
    }
}


.arrowContainer {


    width: 100%;

    display: none;
    justify-content: space-between;
}

.arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
}

@media (min-width: 850px) {
    .arrowContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 15%;
        border-top: 1px solid white;
    }

    

    .main {
        height: 91vh; /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 91);
     
     
        border-bottom: none;
    }

    .gallery{
        flex-direction: column;
        height: 100%;
    }

}

.projectTitle {
    display: grid;
    place-items: center;

    height: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 33%;
}

.arrowReverse {
    rotate: 180deg;
}




